@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
.roott{
  background-image: url('https://img.freepik.com/free-vector/islamic-eid-festival-greeting-with-lamp-moon_1017-24842.jpg?size=626&ext=jpg&ga=GA1.1.1400720862.1700631409&semt=ais');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.container{
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}